<section class="hero">
  <div class="container mx-auto text-center">
    <h1 class="hero-title">
      Simplify Property
      <br />
      <span class="text-primary">Management</span>
    </h1>
    <p class="hero-text">
      Connect property owners, managers, tenants, and buyers in one comprehensive platform.
      Streamline your property operations with ease.
    </p>
    <app-quick-search></app-quick-search>
    <div class="cta">
      <button class="btn btn-lg btn-primary-gradient btn-cta text-xl">Get Started today</button>
    </div>
  </div>
</section>
