<div class="property-card">
  <div class="property-image-container">
    <img [src]="property.imageUrl" [alt]="property.title" class="property-image" />
    <div class="property-type-badge">
      {{ property.type | titlecase }}
    </div>
  </div>

  <div class="property-content">
    <h3 class="property-title">{{ property.title }}</h3>

    <div class="property-location">
      <svg class="location-icon" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
      </svg>
      <span>{{ property.location }}</span>
    </div>

    <div class="property-price">
      <span class="price-amount">${{ property.price | number:'1.0-0' }}</span>
      <span class="price-unit">/{{ property.priceUnit }}</span>
    </div>

    <button class="btn btn-outline-primary property-cta">
      View Details
    </button>
  </div>
</div>
